

{# Google Pay payment form #}
<div id="nn_google_pay_button">
    <button type="button">Google Pay</button>
    {# Set up the post data#}
    <input type="hidden" name="basket" id="basket" value="{{basket}}">
</div>
